<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="resources/css/bootstrap.css">

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="resources/js/bootstrap.bundle.js"></script>
<script src="resources/js/jquery.min.js"></script>

<style>
    #back_top {
        display: block;
        width: 60px;
        height: 60px;
        position: fixed;
        bottom: 50px;
        right: 40px;
        border-radius: 10px 10px 10px 10px;
        text-decoration: none;
        display: none;
        background-color: #999999;
    }

    #back_top span {
        display: block;
        width: 60px;
        color: #dddddd;
        font-size: 40px;
        text-align: center;
        margin-top: 4px;
    }

    #back_top span:hover {
        color: #cccccc;
    }
</style>