<header class="p-3 mb-3 border-bottom">
    <div class="container">
        <div class="d-flex flex-wrap gx-5 align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none ">
                <img src="resources/image/logo-red.png" width="32" height="32" />
            </a>

            <ul class="nav gx-5 col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a class="btn btn-primary" href="index.html" role="button" id="index"
                        style="background-color:rgb(127,50,34);margin-left: 5px;">Home</a>
                </li>
                <li><a class="btn btn-primary" href="Visiting.html" role="button" id="Visiting"
                        style="background-color:rgb(127,50,34);margin-left: 5px;">Visiting</a></li>
                <li><a class="btn btn-primary" href="Exhibitions.html" role="button" id="Exhibitions"
                        style="background-color:rgb(127,50,34);margin-left: 5px;">Exhibitions</a></li>
                <li><a class="btn btn-primary" href="Collections.html" role="button" id="Collections"
                        style="background-color:rgb(127,50,34);margin-left: 5px;">Collections</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
            </form>


            <img src="resources/image/logo-red.png" width="32" height="32" class="rounded-circle">
            <div class="text-end" style="margin-left: 5px;">
                <a href="Login.html" role="button" class="btn btn-outline-primary">Login</a>
                <a href="Login.html" role="button" class="btn btn-primary">Sign-up</a>
            </div>
        </div>
    </div>
</header>
<script lang="javascript">
    let url = window.location.pathname;
    url = url.substring(url.lastIndexOf('/') + 1, url.length - 5);
    document.getElementById(url).style.fontWeight = 'bold'
    document.getElementById(url).style.textDecorationLine = 'underline'

</script>